<!-- all categories page; index page -->
<p id="notice"><%= notice %></p>

<h1>Product Categories</h1>

<!-- user to enter csv url -->
<%= form_tag("/seed", method: "post") do %>
  <%= text_field_tag(:csv_url) %>
  <%= submit_tag("Import CSV") %>
<% end %>

<!-- display all categories -->
<table class=table style="margin-top: 20px;">
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><a href="/categories/<%= category.id %>"><%= category.name %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @products %>
