<!-- all categories page; index page -->
<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><a href="/categories/<%= category.id %>"><%= category.name %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @products %>


<%= text_field_tag(:csv_url) %>

<!-- call method importcsv in categories controller on button click -->
<%= button_to 'Import CSV', categories_importcsv_path, method: :post %>