<p id="notice"><%= notice %></p>

<h1>
  <strong>Products in </strong>
  <%= @category.name %>
</h1>

<table class=table>
  <thead>
    <tr>
      <th>Product id</th>
      <th>Name</th>
    </tr>
  </thead>

<!-- products in each category -->
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.productID %></td>
        <td><a href="/products/<%= product.id %>"><%= product.name %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @products %>

<%= link_to 'Back', categories_path, class: "back_button" %>
